/* .mainpage1{
    display: flex;
    justify-content: center;
    width: 1330px;
    height: 400px;
    margin: 10px;
    padding: 10px;
} */
/* .alrt{
    POSITION: RELATIVE;
    left: 425px;
    width: 500px;
    height: 120px; 
    

}*/
.alrt a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
    
}
h1{
    color: blueviolet;
}
h1:hover{
    cursor: pointer;
}

.alrt p{
    
    font-size: 24px; 
    text-align: center;
    margin: 15px;
    text-align: justify;
    
}
.subpage{
    
    float: left;
    width: 300px;
    height: 400px;
    border: solid 2px;
    border-color: darkmagenta;  
    border-radius: 25px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 25px;
    padding: 10px;
    
    
}
.subpage img{
    margin-top: 20px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
}
.subpage h1{
    text-align: center;
}